section{
padding:5% 8%;
background: #fff5ea;
}
.row{
  padding-bottom: 30px !important;
  margin-bottom: 20px;
}
.jumbotron{
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("3.jpg");
  background-size: cover;
}
.selection{
  border-radius:5px;
  border:2px solid black;
  padding-top:10px;
  background-color: white;
}
.selection:hover{
background: grey;
font-weight: bolder;
  transition-property: background-color ;
transition-duration: .6s;
transition-delay: .1s;
color: black;
}
.link{
  color: black;
}
.link:hover{
    color: black;
}
#Mob{
  font-size:1.5rem ;
}
#DTH{
  font-size: 1.5rem;
}
 @media (max-width: 1000px)  {
#tv{
  font-size: 2rem;
}
section{
  padding: 5% 4%;
}
#Mob{
  font-size:1rem ;
}
#DTH{
  font-size: 1rem;
}
#Mobile{
  font-size:2rem;
}
#bigmobile{
  font-size:6rem;
}
#mbpad1{
  text-align: center !important;
}
#mbpad{
  text-align: center;
  padding: 0;
}
.images{
  height:120px !important
}
#mobilebtn{

}
 }
@media (max-width: 1300px){
  #mbpad1{
    text-align: center !important;
  }
  #mbpad{
    text-align: center;

  }
  #dthid{
  text-align: center !important;
  }
  #dthid1{
      text-align: center !important;
  }
}
.radio{
  font-size: 1.5rem;
}
#mobilebtn{
  background: none;
  border-radius: 0;
  border-bottom: 2px dotted grey;
}
#dthbtn{
    background: none;
    border-radius: 0;
    border-bottom: 2px dotted grey;
}
#mobilebtn:hover{
  color: #cf1b1b;
}
#dthbtn:hover{
  color: #cf1b1b;
}
@media (max-width: 700px){
  section{
    padding: 5% 4% !important;
  }
}
